 .calculadora{
background-color:aqua;
    font-size: 2rem;
    padding: 20px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 1px solid black;
    background-image: linear-gradient(rgb(17, 17, 108),rgb(79, 79, 239));
    flex-direction: column;
    display: flex;
    align-items: center;
    position:fixed;
    transform: translate(-50%, -50%);
}/*fechamento calculadora*/

.tela{
    background-color: rgb(79, 79, 239);
    color: black;
    height: 80px;
    width: 93%;
    border-radius: 10px;
    border: 3px solid black;
    padding: 10px;
    margin-bottom:20px;
    /* font-size:3rem;  */
    justify-content:flex-end;
    display: flex;
    align-items: center;
}

.configBotao{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.linha{
    display:flex;
    margin-top: 5px;
}

button{
    font-size:2rem;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color:black
}

.limpar{
    width: 120px;
}