body{
    /*estilos referentes ao corpo do html*/
    background-color: rgb(125, 116, 116);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:darkgreen
}

h1{
    text-align: center
}

ul{
    list-style-type: none;    
    margin: 0%;
    padding: 0%;
    display:flex;
    justify-content:center;
}

li{
    margin:10px;
}

a{
    display:block;
    text-align:center;
    color:rgb(240, 240, 240);
    background-color:rgba(24, 119, 242, 1);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration:none;
    transition:all 1s ease-in-out;
}

a:hover{
    background-color: rgba(24, 119, 242, 1);
}

.instagram{
    background-image: linear-gradient(to bottom,rgba(134, 12, 255, 1),
    rgba(249, 0, 198, 1),rgba(255, 192, 0, 1));
}

.twitter{
    background-color: rgb(29, 155, 240, 1);
}