.erro{
    color:rgb(255, 17, 17);
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color:rgb(80, 254, 80);
    font-size: 1.5rem;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}

    #app{
        max-width: 400px;
        background-color: hwb(221 0% 26% / 0.648);
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 5px 25px rgb(0, 0, 0);
        border-style: none;
    }
    
    body{
        margin: 150px;
    }
    h1{
        text-align: center;
    }
    
    form{
        align-items: center;
        display:flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    
    label{
        margin-bottom: 5px;
        margin-top: 10px;
    
    }
    
    input[type="text"],
    input[type="password"]{
        width: 50%;
        padding-top: 10px;
        font-size: 1rem;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 8px;
    
    }
    
    button[type="submit"]{
        display: block;
        width: auto;
        margin-top: 10px;
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(197, 235, 255);
        border-style: solid;
        border-color: rgb(255, 255, 255);
        cursor: pointer
        font-sine 1.3rem;
    }
    
    button:hover{
        background-color: rgb(255, 236, 236);
    }
     
    div{
        background-color: rgb(236, 243, 255);
        border: 2px solid rgb(0, 0, 0);
        padding: 10px;
        border-radius: 5px;
    }
    
    ol{
        margin-top: 10px;
        list-style-type: none;
        align-items: center;
        justify-items: center;
        padding: 0;
    }
    
    li{
        border-style: solid;
        margin-bottom: 10px;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        align-items: center;
    }