h1{
    font-size: 36px;
    color:rgb(255, 255, 0);
    margin-top:0;
}

p{
    font-size: 1.2rem;
    line-height: 1.5;
    color:rgb(15, 19, 19)
}

body{
    background-color:rgb(201, 190, 185);
    font-family: arial,sans-serif;
    padding: 0;
    margin:0;
}

.container{
    margin:0 auto;
    background-color: blue;
    width: 45%;
    padding: 20px;
}

@media (max-width: 768px){
    .container{
        width: 90%;
        padding: 10px;
    }

    h1{
        font-size:20px;
    }

    p{
        font-size:16px;
    }
}