.erro{
    color:crimson;
    font-size: 1.5rem;
}

.sucesso{
    color:rgb(80, 254, 80);
    font-size: 1.5rem;
}

body{
    font-family: Verdana, sans-serif;
}

#app{
    max-width:  500px;
    background-color: rgb(198, 191, 191);
    margin: 0 auto;
    padding: 20px;
    box-decoration-break: 0 0 10px rgb(128, 128, 128);
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0;
}
form{
    background-color: none;
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 8px;
}

input[type="text"], input[type="password"]{
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;

}

button:hover{
    background-color: gray (136, 127, 127);
}