.app{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.conteudo{
    width:80%;
    height:80%;
    border: 2px solid black;
    display: flex;
    





}