<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="stylecadastro.css"/>
</head>
<body>
    <div id="app">
        <h1>Cadastro de Novo Usuario</h1>
        <form>
            <label for="newUsername">Nome de Usuario:</label>
            <input type="text" v-model="newUsername" required>

            <label for="newPassword">Senha:</label>
            <input type="password" v-model="newPassword" required>
            
            <label for="confirmPassword">Confirma senha:</label>
            <input type="password" v-model="confirmPassword" required>

            <button type="submit" @click.prevent="adicionarUsuario">Cadastrar</button>
            
        </form>
        <p>Usuario: {{usuario}}</p>

        <!-- Processo de listagem dos usuarios e senhas cadastrados nos vetores  -->
    <div>
        <button @click="listarUsuarios">
            {{mostrarLista ? "ocultar Lista" : "Mostrar Lista"}}
        </button>
        <ol v-if="mostrarLista">
            <li v-for="(usuario,index) in usuarios">
                usuario: {{usuario}}, senha: {{senhas[index]}}
                <button class="botao" @click="excluirUsuario(usuario)">Excluir</button>
             </li>
        </ol>
        
    </div> 
        <!-- <p>Senha: {{senha}}</p> -->
        <p class="erro" :class="{entrada:mostrarEntrada}">{{erro}}</p>
        <p class="sucesso" :class="{entrada: mostrarEntrada}">{{sucesso}}</p>
    </div>
    <script src="calculadora.js"></script>
</body>
</html>